{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ]
}
